# See https://prek.j178.dev for more information
# Migrated from pre-commit to prek: https://prek.j178.dev/benchmark/
#
# Install prek itself:
#   $ cargo install prek
#     OR
#   $ brew install prek
#
# Update all prek hooks to latest version:
#   $ prek auto-update
#
# Install all default prek hooks locally:
#   $ prek install
#
# Apply a given prek hook to all files:
#   $ prek run --all-files <id>
#
# Apply all prek hooks to all files:
#   $ prek run --all-files
ci:
  autoupdate_schedule: monthly
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 3e8a8703264a2f4a69428a0aa4dcb512790b2c8c  # frozen: v6.0.0
    hooks:
      # keep-sorted start
      - id: check-executables-have-shebangs
      - id: check-yaml
      - id: detect-private-key
      - id: trailing-whitespace
      # keep-sorted end
  - repo: https://github.com/rhysd/actionlint/
    rev: 393031adb9afb225ee52ae2ccd7a5af5525e03e8  # frozen: v1.7.11
    hooks:
      - id: actionlint
  - repo: https://github.com/codespell-project/codespell
    rev: 63c8f8312b7559622c0d82815639671ae42132ac  # frozen: v2.4.1
    hooks:
      - id: codespell
  - repo: https://github.com/golangci/misspell
    rev: b565578a5ec9b815331bdae8f588021f7696ec6f  # frozen: v0.8.0
    hooks:
      - id: misspell
  - repo: https://github.com/google/keep-sorted
    rev: c71803fd297b5736f3bfab1cfd84424ca52e961a  # frozen: v0.7.1
    hooks:
      - id: keep-sorted
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: 745eface02aef23e168a8afb6b5737818efbea95  # frozen: v0.11.0.1
    hooks:
      - id: shellcheck
  - repo: https://github.com/woodruffw/zizmor-pre-commit
    rev: b546b77c44c466a54a42af5499dcc0dcc1a3193f  # frozen: v1.22.0
    hooks:
      - id: zizmor
  - repo: https://github.com/zimbatm/mdsh
    rev: 4b8fb1e7b52a65d6ea875ede3272ac3571f5d015 # frozen: v0.9.2
    hooks:
      - id: mdsh
        files: ^README.md$
  - repo: https://github.com/thiagowfx/pre-commit-hooks/
    rev: 528e165cff8a11bc4f9f49a9b25f3249e09e4237  # frozen: v0.0.22
    hooks:
      - id: check-bash-shebang
        types:
          - shell
