# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
#
# Install pre-commit itself:
#   $ pip install pre-commit
#     OR
#   $ brew install pre-commit
#
# Update all pre-commit hooks to latest version:
#   $ pre-commit autoupdate
#
# Install all default pre-commit hooks locally:
#   $ pre-commit install
#
# Apply a given pre-commit hook to all files:
#   $ pre-commit run --all-files <id>
#
# Apply all pre-commit hooks to all files:
#   $ pre-commit run --all-files
ci:
  autoupdate_schedule: monthly
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 3e8a8703264a2f4a69428a0aa4dcb512790b2c8c  # frozen: v6.0.0
    hooks:
      # keep-sorted start
      - id: check-executables-have-shebangs
      - id: check-yaml
      - id: detect-private-key
      - id: trailing-whitespace
      # keep-sorted end
  - repo: https://github.com/rhysd/actionlint/
    rev: e7d448ef7507c20fc4c88a95d0c448b848cd6127  # frozen: v1.7.8
    hooks:
      - id: actionlint
  - repo: https://github.com/codespell-project/codespell
    rev: 63c8f8312b7559622c0d82815639671ae42132ac  # frozen: v2.4.1
    hooks:
      - id: codespell
  - repo: https://github.com/golangci/misspell
    rev: e78f9b6cd537559a24525b6ea7e182794edfd31f # frozen: v0.7.0
    hooks:
      - id: misspell
  - repo: https://github.com/google/keep-sorted
    rev: c71803fd297b5736f3bfab1cfd84424ca52e961a  # frozen: v0.7.1
    hooks:
      - id: keep-sorted
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: 745eface02aef23e168a8afb6b5737818efbea95  # frozen: v0.11.0.1
    hooks:
      - id: shellcheck
  - repo: https://github.com/woodruffw/zizmor-pre-commit
    rev: bbd57e2e77d04e39722d2976d5d6bfa227f101e8  # frozen: v1.16.2
    hooks:
      - id: zizmor
  - repo: https://github.com/zimbatm/mdsh
    rev: 4b8fb1e7b52a65d6ea875ede3272ac3571f5d015 # frozen: v0.9.2
    hooks:
      - id: mdsh
        files: ^README.md$
  - repo: https://github.com/thiagowfx/pre-commit-hooks/
    rev: 1d2024b72317a545ef9745a57215782b8aa7eb52  # frozen: v0.0.11
    hooks:
      - id: check-bash-shebang
